<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CloudResearch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5BD32C8B1D90C35D00FDC400</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BD32C9F1D90C35E00FDC400</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BD32CAA1D90C35E00FDC400</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
